.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.greet-middle {
}
.name-task h2 {
  margin: 0;
  padding: 0;
}
.name-task span {
  position: relative;
  top: -8px;
  left: 10px;
  font-size: 0.8rem;
}
.logo {
  background: bule;
  justify-self: center;
  align-self: center;
}

.logo img {
  width: 40px;
}

.greet-middle {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
