/* Main Card Styling */
.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 400px;
  margin: auto;
}

/* Header Styling */
.card-header {
  text-align: center;
  padding-bottom: 10px;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 500;
}

.card-description {
  font-size: 0.7rem;
  color: #666;
}

/* Chart Styling */
.card-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.chart-container {
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: center;
}

.chart-total {
  font-size: 1.5rem;
  font-weight: bold;
  fill: #333;
}

.chart-label {
  font-size: 0.9rem;
  fill: #777;
}

/* Responsive Design */
@media (max-width: 550px) {
  .card {
    max-width: 100%;
  }
  .card-title {
    font-size: 1rem;
    font-weight: 500;
  }

  .card-description {
    font-size: 0.8rem;
    color: #666;
  }

  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chart-total {
    font-size: 1.5rem;
  }

  /* Chart Container */
  .mobile-recharts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px !important;
    height: 250px !important;
    background: #ffffff1a; /* Light glass effect */
    backdrop-filter: blur(10px); /* Blurry glass effect */
    border-radius: 50%;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  }

  /* Customizing the Radial Bars */
  .mobile-recharts .recharts-radial-bar-background {
    fill: rgba(255, 255, 255, 0.3); /* Light transparent background */
  }

  .mobile-recharts .recharts-radial-bar {
    stroke-width: 1;
  }
}

.custom-tooltip {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 6;
}

.tooltip-label {
  font-weight: bold;
}

.tooltip-value {
  margin-top: 2px;
  font-size: 11px;
}
